.carteRecette {
  max-width: 550px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 6px;
}

.vignetteRecette {
  width: 180px;
  height: 180px;
  margin: 15px 0;
}

.imgRecette {
  width: 450px;
  margin-bottom: 20px;
}

.carteUtilisateur {
  max-width: 400px;
  margin: 15px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 6px;
}
